<div class="row align-items-center justify-content-center">
    <div class="col-md-4">
        <img src="assets/images/72181133_2619763664755183_7124934518783344640_o.jpg" class="img-fluid img-thumbnail shadow-lg rounded-circle">
    </div>
    <div class="col-md-8">
        <h1 class="display-1 font-weight-bold texto">Hey, I'm Oscar</h1>
        <h2 class="texto">Back-end & Front-end developer</h2>
    </div>
    <div class="w-100"></div>
    <div class="col-md-6">
        <p class="texto parrafo">Currently a systems analyst and software developer, I like programming, web development and learning more and more of the new technologies for software development.</p>
    </div>
</div>