<footer>
    <div class="container-fluid p-5">
        <div class="row justify-content-around">
            <div class="col-md-3 pt-sm-3">
                <div class="media">
                    <img class="d-flex align-self-start mr-3 rounded img-fluid rounded-circle" src="../../../../assets/images/business.svg">
                    <div class="media-body">
                        <h4 class="mt-0 title">ABOUT ME</h4>
                        <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores assumenda ullam, error perferendis veritatis</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 pt-sm-3">
                <h4 class="mt-0 title">TUTORIALS</h4>
                <p class="text mb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores assumenda ullam, error perferendis veritatis</p>
                <a class="text-white">-View tutorials</a>
            </div>
            <div class="col-md-3 pt-sm-3">
                <h4 class="mt-0 title">CONTACT </h4>
                <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores assumenda ullam, error perferendis veritatis</p>                
            </div>
        </div>
    </div>
</footer>