<div class="row justify-content-around pt-5">
    <div class="col-1 animacion text-center">
        <img src="assets/images/logo-facebook.svg" height="80" width="80" alt="gmail" class="img-fluid rounded-circle shadow">
        <p class="texto pt-2"><strong>Facebook</strong></p>
    </div>
    <div class="col-1 animacion text-center">
        <img src="assets/images/logo-github.svg" height="80" width="80" alt="github" class="img-fluid rounded-circle shadow">
        <p class="texto pt-2"><strong>GitHub</strong></p>
    </div>
    <div class="col-1 animacion text-center">
        <img src="assets/images/logo-gmail.svg" height="80" width="80" alt="gmail" class="img-fluid rounded-circle shadow">
        <p class="texto pt-2"><strong>Gmail</strong></p>
    </div>
    <div class="col-1 animacion text-center">
        <img src="assets/images/logo-youtube.svg" height="80" width="80" alt="youtube" class="img-fluid rounded-circle shadow">
        <p class="texto pt-2"><strong>YouTube</strong></p>
    </div>
</div>